.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px dashed blue;
    animation: rotate 2.5s infinite linear;
    background-color: inherit;
  }
  
  @keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.7);
        border-color: blue;
    }
    50% {
        transform: rotate(180deg) scale(1.3);
        border-color: red;
    }
    100% {
        transform: rotate(360deg) scale(0.7);
        border-color: blue;
    }
  }